@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ability";
  src: url("/fonts/Qwerty Ability - Personal Use.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
